@import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=Cinzel&display=swap');

body {
    font-family: 'Open Sans', sans-serif;
    background: #eaeaea;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    perspective: 1000px;
    margin: 0; /* Added to remove default margin */
}

.card {
    width: 280px;
    height: 300px;
    position: relative;
    transform-style: preserve-3d;
    transform: rotateY(0deg);
    transform-origin: center; /* Ensures the card flips around its center */
    transition: transform 1s;
    cursor: pointer;
    color: #000000;
    box-sizing: border-box;
}

.card:hover {
    transform: rotateY(180deg);
}

.card .front, .card .back {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    border-radius: 10px;
    box-shadow: 0px 10px 30px -5px rgba(0, 0, 0, 0.3);
    overflow: hidden;
    box-sizing: border-box;
}

.card .back {
    transform: rotateY(180deg);
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Cinzel', serif;
    font-size: 2rem;
    background: #ffffff;
}

.card .front {
    position: relative;
    background: #ffffff;
    /* padding: 20px; */
    text-align: center; /* Center text horizontally */
}

.card .front h3 {
    margin-bottom: 10px;
    font-family: 'Cinzel', serif;
    font-size: 1.5rem;

    position: absolute;
    bottom: 0; /* Adjust as necessary */
    left: 0; /* Adjust as necessary */
    background: rgba(0, 0, 0, 0.5); /* Semi-transparent background */
    color: #fff;
    width: 100%;
    text-align: center;
    margin: 0;
    padding: 10px; /* Adjust as necessary */
}

.card .front p {
    margin-bottom: 10px;
    line-height: 1.5;
}

.card img {
    border-radius: 10px 10px 0 0;
    width: 100%;
    height: 100%;
}
